!!! 5
%html
    %head
        %title II Congreso Internacional de Tecnologías Emergentes en Educación e Informática
        = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
        = yield :stylesheets
        
        = javascript_include_tag 'application', 'data-turbolinks-track' => true
        = yield :javascripts
        = csrf_meta_tags
    %body(ng-app="congreso")
        = yield